:root {
  --primary-color: rgb(253, 101, 133);
  --lighter-primary: rgb(255, 211, 165);
}

.container {
  color: white;
  display: block;
  font-family: "Catamaran", sans-serif;
  margin: 15px auto;
  max-width: 75%;
}

.app-wrapper {
  padding: 40px 40px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 101, 133) 0%,
    rgb(255, 211, 165) 90%
  );
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

h2,
span {
  font-size: 25px;
  line-height: 0.8;
}

a {
  color: var(--lighter-primary);
}

a:hover {
  color: white;
}

.todays-temp {
  font-size: 50px;
  font-weight: normal;
  position: relative;
  top: 15px;
}

.active {
  color: white;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color: white;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  border: #00bcd4;
  transition: all 150 ease-in-out;
}

.btn:hover {
  color: white;
  background-color: var(--lighter-primary);
}

.search-bar {
  border-color: var(--primary-color);
}

.search-bar:focus {
  border-color: var(--primary-color);
}

.current-temp {
  position: relative;
  right: 30px;
}

.heading {
  margin: 10px 10px 0px;
}

.temp-conversion {
  font-size: 25px;
}

.overview {
  margin: 10px 0px 30px 24px;
}

.forecast-wrapper {
  background-color: rgba(253, 252, 251, 0.3);
  border-radius: 10px;
  font-size: 35px;
  max-width: 100%;
  padding: 15px 0px;
  text-align: center;
}

small {
  color: rgb(72, 72, 74);
}

small a {
  color: var(--primary-color);
}

small a:hover {
  color: var(--lighter-primary);
}
