.container {
  display: block;
  margin: 15px auto;
  max-width: 75%;
}

.app-wrapper {
  border: 1px solid black;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
}

h2,
span {
  font-size: 25px;
  line-height: 0.8;
}

.todays-temp {
  font-size: 50px;
  font-weight: normal;
  position: relative;
  top: 15px;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color: black;
}

.row {
  margin: 25px 15px 35px;
}

.btn {
  color: white;
  background-color: #0b5ed7;
  border: #0b5ed7;
}

.search-bar {
  border-radius: 10px;
}

.current-temp {
  position: relative;
  right: 30px;
}

.heading {
  margin: 10px 10px 0px;
}

.temp-conversion {
  font-size: 25px;
}

.overview {
  margin: 10px 0px 30px 24px;
}

.forecast {
  font-size: 35px;
  max-width: 100%;
  text-align: center;
}
