.container {
  display: block;
  margin: 35px auto;
  padding: 20px 30px 10px;
  max-width: 75%;
  border: 1px solid black;
  border-radius: 10px;
}

h1,
h2 {
  margin: 0px;
}

.heading i {
  font-size: 100px;
}

.todays-temp {
  font-size: 50px;
  position: relative;
  top: 15px;
}

.row {
  margin: 25px 15px 35px;
}

.btn {
  color: white;
  background-color: #0b5ed7;
  border: #0b5ed7;
}

.search-bar {
  border-radius: 10px;
}

.current-temp {
  position: relative;
  right: 30px;
}

.heading {
  margin: 10px 10px 0px;
}

.non-temp-data {
  margin-left: 24px;
  margin-top: 10px;
}

.forecast {
  margin-top: 35px;
  max-width: 100%;
  font-size: 35px;
}

.code-link {
  position: relative;
  bottom: 30px;
  left: 130px;
}
